body {
	background-color: #25282a;
	overflow: hidden;
}

#i1,
#i2,
#i3,
#i4,
#i5 {
	display: none;
}

.wrapper {
	width: 95vw;
	height: 95vh;
	margin: 2.5vh auto;
	display: flex;
	flex-direction: column;
}

.container {
	margin: 0;
	width: 100%;
	height: 100%;
	background-color: #1c1c1c;
	display: grid;
	grid-template-rows: 60vh auto;
	row-gap: 4vh;
	overflow: hidden;
}

.slide_img {
	grid-area: 1 / 1 / 1 / 1;
	width: 100%;
	height: 100%;
	background-color: #262342;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	border-radius: 1%;
	opacity: 0;
	transform: translateX(100%);
	transition: transform 0.3s ease-out, opacity 0.3s ease-out;
}

.nav__panel {
	display: flex;
	flex-direction: row;
}

#nav_text {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-rows: 1fr;
	max-width: 70vw;
	height: 100%;
}

.slide_text {
	grid-area: 1 / 1 / 1 / 1;
	font-size: 3rem;
	color: white;
	opacity: 0;
	visibility: hidden;
	transform: translateX(-100%);
	transform: translateX(100%);
	transition: transform 0.3s ease-out, opacity 0.3s ease-out, visibility 0.3s ease-out;
}

#nav_slide {
	display: flex;
	height: 100%;
	text-align: center;
	width: auto;
	height: auto;
	margin: 0 0 auto auto;
	justify-content: right;
}

.dots {
	display: inline-block;
	width: 2em;
	height: 2em;
	background-color: rgb(83, 167, 245);
	border-radius: 100%;
	transition: .4s;
	margin: 0.5vh auto;
	z-index: 5;
}

.dots2 {
	display: inline-block;
	width: 2.7em;
	height: 2.7em;
	transition: .4s;
}

.dots:hover {
	background-color: white;
}

.dots:active {
	transform: scale(0.9);
}

.dots2:hover .dots {
	background-color: white;
	cursor: pointer;
}





#i1:checked~.nav__panel #nav_slide #dot1,
#i2:checked~.nav__panel #nav_slide #dot2,
#i3:checked~.nav__panel #nav_slide #dot3,
#i4:checked~.nav__panel #nav_slide #dot4 {
	background-color: black;
	border: 0.2em solid rgb(83, 167, 245);
	width: 1.6em;
	height: 1.6em;
}

#i1:checked~.nav__panel #nav_slide #dot1:hover,
#i2:checked~.nav__panel #nav_slide #dot2:hover,
#i3:checked~.nav__panel #nav_slide #dot3:hover,
#i4:checked~.nav__panel #nav_slide #dot4:hover {
	border-color: white;
}

#i1:checked~.nav__panel #nav_slide #dot11:hover #dot1,
#i2:checked~.nav__panel #nav_slide #dot22:hover #dot2,
#i3:checked~.nav__panel #nav_slide #dot33:hover #dot3,
#i4:checked~.nav__panel #nav_slide #dot44:hover #dot4 {
	border-color: white;
}



#i1:checked~.nav__panel #nav_text #slide_t_one,
#i2:checked~.nav__panel #nav_text #slide_t_two,
#i3:checked~.nav__panel #nav_text #slide_t_three,
#i4:checked~.nav__panel #nav_text #slide_t_four {
	opacity: 1;
	visibility: visible;
	transform: translateX(0);
}



#i4:checked~.nav__panel #nav_text #slide_t_four {
	display: flex;
}

#i1:checked~#slide__one,
#i2:checked~#slide__two,
#i3:checked~#slide__three,
#i4:checked~#slide__four {
	opacity: 1;
	transform: translateX(0);
	z-index: auto;
}




#slide__one {
	background-image: url(./assets/images/image_one.webp);
}

#slide__two {
	background-image: url(./assets/images/image_two.webp);
}

#slide__three {
	background-image: url(./assets/images/image_three.webp);
}

#slide__four {
	background-image: url(./assets/images/image_four.webp);
}


@keyframes text {
	0% {
		opacity: 0;
		visibility: hidden;
	}

	100% {
		opacity: 1;
		visibility: visible;
	}
}

@media screen and (max-width: 950px) {
	.nav__panel {
		flex-direction: column-reverse;
		height: auto;
	}

	#nav_slide {
		margin: 2vh auto;
		width: auto;
	}

	#nav_text {
		margin: 1vh auto auto 0;
		width: 100%;
		max-width: 100%;
	}

	.slide_text {
		font-size: 2rem;
	}

	.slide_img {
		height: 100%;
	}

	.wrapper {
		margin: 2.5vh 3vh;
		width: auto;
	}

	.container {
		grid-template-rows: 45vh auto;
		row-gap: 1.5vh;
	}
}